.loading
{
    width : 40vw;
    height: 40vh;
    display: grid;
    place-items: center;
}

.loading > div
{
    height: 10vmax;
    width: 10vmax;
    border-bottom: 5px solid rgba(0, 0, 0,0.5);
    border-radius: 50%;
    animation: loadingRotate 1000ms linear infinite;
}

@keyframes loadingRotate {
    to {
        transform: rotate(360deg);
    }
}